//- article
mj-section(background-color='#EDF2F7')
    mj-column(width='30%' padding='10px 0')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width="480px" target='_blank' src='https://i.ibb.co/q1JFxSZ/news02-072024.jpg' alt='Groupe d\'employés travaillant ensemble dans l\'Assurance')/
    mj-column(width='70%' padding='0')
        mj-text(padding='0 25px' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Assurance de biens
        mj-text(padding='5px 25px 0 25px' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') 2025 : Les tarifs de vos contrats d'assurance auto et habitation s'envolent !
        mj-text(padding='0 25px' font-size='16px' line-height='20px' font-weight='400') 
            p(style='margin:10px 0') Les Français vont devoir serrer leur ceinture en 2025. Selon une étude récente de Facts & Figures, les tarifs des assurances auto, habitation et santé individuelle devraient connaître une hausse exceptionnelle. Cette augmentation s'explique par plusieurs facteurs, notamment l'inflation, la hausse des coûts de réparation et l'augmentation des sinistres...
            p(style="margin:10px 0;text-align:right;")  #[a(style="text-align:right;color:#BA4995;font-size:16px;font-weight:700;" href='https://ecosup-assurance.fr/tarifs-contrats-assurance-senvolent') Lire la suite]