
//- Texte
mj-section(background-color='#EDF2F7' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' target='_blank' src='https://i.ibb.co/23SLnrp/news-Bandeau01072024.jpg' alt='Groupe d\'étudiants entrain de travailler avec portrait de Christian ANNALORO, responsable pédagogique d\'Ecosup Assurance')/
mj-section(background-color='#EDF2F7' padding-top='10px' padding-bottom='40px')
        mj-column(width='88%') 
            mj-text(padding-top='5px' padding-bottom='0' font-size='14px' font-weight='900' line-height='18px' text-transform='uppercase' color='#944694') Édito
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px') Une année scolaire s'achève et une autre s'ouvre... #[span(style='font-weight:700') La rentrée 2024 arrive à grands pas].
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px') Je tenais à #[span(style='font-weight:700') remercier l'ensemble de nos entreprises partenaires] qui nous ont fait confiance et qui donnent une chance et une opportunité unique à nos élèves au travers d'un contrat d'alternance. C'est un engagement pour l'entreprise qui accueillera et accompagnera l'élève dans sa montée en compétence et l'obtention de son diplôme. Nous en sommes conscients ! et c'est pourquoi vous pourrez compter sur notre engagement sans faille. C'est notre ADN ! 
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px') Certains de nos élèves n'ont pas encore eu la chance de trouver leur contrat. C'est pourquoi je vous propose à nouveau de #[span(style='font-weight:700') rencontrer nos candidats] et de transmettre auprès de vos partenaires, contacts... le profil de ces jeunes qui ont aujourd'hui besoin de vous. Retrouvez-les dans notre #[span(style='font-weight:700') CV-Book].
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px') Je reste encore et toujours à votre entière disposition !
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px') Je vous souhaite de merveilleuses vacances avec l'impatience de vous retrouver pour cette année de formation 2024 - 2025.
            mj-text(padding-bottom='0' font-style='italic' font-size='16px' font-weight='500' line-height='20px') À très vite.