
//- Edito Rentrée2024
mj-section(background-color='#EDF2F7' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' target='_blank' src='https://i.ibb.co/Gkm0KKB/news-Bandeau082024.jpg' alt='Groupe d\'étudiants entrain de discuter avec portrait de Christian ANNALORO, responsable pédagogique d\'Ecosup Assurance')/
mj-section(background-color='#EDF2F7' padding-top='10px' padding-bottom='40px')
        mj-column(width='88%') 
            mj-text(padding-top='5px' padding-bottom='0' font-size='14px' font-weight='900' line-height='18px' text-transform='uppercase' color='#944694') Édito
            mj-text(padding-top='5px' padding-bottom='0' font-style='italic' font-size='20px' font-weight='700' line-height='24px' color="#684092") Un nouvelle promotion, de nouvelles opportunités : la rentrée 2024
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Chers partenaires,
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") C'est avec une grande satisfaction que nous accueillons dès ce mercredi 4 septembre une partie de nos nouvelles promotions d'étudiants qui intégreront pour certains d'entre eux vos entreprises. Nous sommes convaincus que cette #[span(style="font-weight:700;") nouvelle collaboration sera fructueuse] pour tous.
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") #[span(style="font-weight:700") La qualité de l'enseignement pour Ecosup Assurance] est un enjeu majeur tant pour l'avenir de nos futurs diplômés, pour les besoins des acteurs du marché et pour le rayonnement de notre école !
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") C'est au travers de programmes pédagogiques innovants et ambitieux, d'intervenants passionnés par leurs métiers, d'une équipe pédagogique dévouée et engagée et d'une longue expérience de l'enseignement qu'#[sapn(style="font-weight:700;") Ecosup Assurance vous garantit une formation d'exception].
            mj-text(padding-top='5px' padding-bottom='5px' font-style='italic' font-size='16px' font-weight='500' line-height='20px' color="#2D3748") Nous sommes convaincus que cette nouvelle année sera synonyme de #[span(style="font-weight:700;") réussites partagées]. Nous restons comme toujours à votre entière disposition et nous vous souhaitons une bonne rentrée !