mj-section(background-color='#ffffff' padding-left='17px' padding-right='17px')
    mj-column(width='30%' padding='8px')
        mj-image(padding='0' border='none' fluid-on-mobile='true' src='https://i.ibb.co/LZs4m7L/news-AE02-082024.jpg' alt='étudiant motivé entrain de travailler en groupe')/
    mj-column(width='70%' padding='8px')
        mj-text(padding='0' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Formation en Apprentissage
        mj-text(padding='5px 0 0 0' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Des étudiants engagés et motivés
        mj-text(padding='5px 0 0 0' font-size='16px' line-height='20px' font-weight='400') #[span(style="font-weight:700;") Nos étudiants en BTS Assurance et Bachelor Chargé de clientèles en Assurance et Banque...] ont été sélectionnés selon des critères rigoureux et bénéficient d'un #[span(style="font-weight:700") accompagnement personnalisé] tout au long de leur cursus. Ils sont passionnés, curieux et soucieux d'acquérir une expérience professionnelle solide et de #[span(style="font-weight:700") contribuer au développement de votre entreprise].