mj-section(background-color="#edf2f7" padding-left="23px" padding-right="23px")
    mj-column(width="100%")
        mj-text(padding="0px 2px" align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Apprentissage
        mj-text(padding="0px 2px 10px 2px" align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Les entreprises partenaires qui accueillent nos étudiants
    mj-group(width="50%")
        mj-column(background-color="#edf2F7" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/NghZ413/GG-SMA.jpg" alt="GC SMA BTP")
        mj-column(background-color="#edf2F7" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/9V7ywWW/G-AXA1.jpg" alt="AXA assurance")
    mj-group(width="50%")
        mj-column(background-color="#edf2F7" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/9TCzHwq/Deledalle-Assurance.jpg" alt="Deledalle assurance")
        mj-column(background-color="#edf2F7" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/NZPRJtt/G-Credit-Agricole.jpg" alt="Crédit Agricole")
    mj-group(width="50%")
        mj-column(background-color="#edf2F7" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/sjtrmH8/GG-Swiss-Life.jpg" alt="Swiss life")
        mj-column(background-color="#edf2F7" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/tXkd5WQ/G-HENNER.jpg" alt="Groupe Henner")
    mj-group(width="50%")
        mj-column(background-color="#edf2F7" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/t3bKgS6/G-MMA.jpg" alt="MMA assurance")
        mj-column(background-color="#edf2F7" padding="2px")
            mj-image(padding="0" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/mcbYWCB/G-Allianz.jpg" alt="Allianz")
    