mj-section(background-color="#000000" padding-left="25px" padding-right="25px")
    mj-group(width="50%")
        mj-column(width="50%")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/NghZ413/GG-SMA.jpg" alt="GC SMA BTP")
        mj-column(width="50%")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/9V7ywWW/G-AXA1.jpg" alt="AXA assurance")
    mj-group(width="50%")
        mj-column(width="50%")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/5rjq3d7/deledalle-Logo.png" alt="Deledalle assurance")
        mj-column(width="50%")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/NZPRJtt/G-Credit-Agricole.jpg" alt="Crédit Agricole")
    mj-group(width="50%")
        mj-column(width="50%")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/sjtrmH8/GG-Swiss-Life.jpg" alt="Swiss life")
        mj-column(width="50%")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/tXkd5WQ/G-HENNER.jpg" alt="Groupe Henner")
    mj-group(width="50%")
        mj-column(width="50%")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/t3bKgS6/G-MMA.jpg" alt="MMA assurance")
        mj-column(width="50%")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/mcbYWCB/G-Allianz.jpg" alt="Allianz")
    