mj-section(background-color="#EDF2F7" padding="17px") 
        mj-column(width='30%' padding="8px")
            mj-image(align="left" padding='0' border='none' src='https://i.ibb.co/4Jb4Srt/Logo-Qualiopi-T.png' alt='Logo de la certification Qualiopi')/
        mj-column(width='70%' padding="8px")
            mj-text(padding="0" font-size='16px' line-height='20px' font-weight='400') La certification qualité a été délivrée au titre des catégories d'actions suivantes :
            mj-text(padding="0" font-size='16px' line-height='20px' font-weight='400' text-transform="uppercase")  action de formation 
            mj-text(padding="0" font-size='16px' line-height='20px' font-weight='400' text-transform="uppercase") action de formation par apprentissage